.App {
  text-align: center;
}

.d-flex div {
  display: flex;
  width: 25vh;
  height: 25vh;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid rgb(0, 0, 0);
  color: #fff;
  text-align: center;
}

.Pane1 {
  /* background-image: url(./images/hotel.png); */
  background-color: #ffffff;
  min-height: 25vh;
  max-height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-gallery-slide img {
  width: 100%;
  height: 300px;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
